<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>
                Study Now
            </button>
        </div>

        <div class="col-lg-9">
            <h2>
                {{course.name}}
            </h2>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>

            <p>
                Song: Yêu Anh
                Singer: Miu Lê
                Composer: Tăng Nhật Tuệ - Gào Tanny

                Link bài hát gốc: https://www.youtube.com/watch?v=_N02Q...

                Các bạn hãy Like, Share & Subscribe để ủng hộ mình nhé!

                Lyrics:
                Yêu anh yêu anh yêu như những giấc mơ
                Giấc mơ dài thật dài và em không có lối ra.
                Yêu anh yêu anh yêu chỉ anh thôi.
                Yêu anh hết thân này.
                Yêu anh chẳng tiếc gì.
                Bằng tất cả những gì em có , bằng cả yêu thương . dù dấn thân vào ngục tối .
                Yêu thôi cứ yêu thôi , anh là ánh sáng. xin anh gần lại bên em. đừng rời xa em
                Xin đừng bỏ em ở lại , xin đừng dập tắt đi
                Nỗi nhớ không tên theo em theo em đến cuối cuộc đời
                Yêu là chẳng nghe điều gì , yêu là chẳng tiếc chi
                Dù mai nắng sau cơn mơ kia em sẽ đớn đau thật nhiều
                Nhưng không hề hối tiếc và chẳng cần lo au
                Vì trái tim em không anh chắc sẽ ngừng đập.......
            </p>
        </div>
    </div>
</div>